node_modules/
public/js
public/assets
*.png
*.jpg
*.jpeg
/target
/checkouts
/src/gen
package-lock.json
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.calva/
.clj-kondo
.lsp/
.hgignore
.hg/
